html,body {height: 100%;}
body{font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size: 12px; background-color:#fafafa; height:100%; }


#header{
	padding: 13px 0px 0px 20px;
	background-color: #555d55;
	position: fixed;
	width:100%;
	left:0px;
	top:0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #AABB77	;
}
	#header_left{width:600px;height:100%; padding:10px 0px 0px 0px;}
	#header_left h1 {font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;font-size:22px;font-size-adjust:none;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;color:#BBCCAA;}


#content {
	position:fixed;
	top:100px;
	
}