html,body {height: 100%;}
body{font-family:"Lucida Grande",Verdana,Arial,"Bitstream Vera Sans",sans-serif;font-size: 12px; background-color:#fafafa; height:100%; }


#header{
	padding: 13px 0px 0px 20px;
	background-color: #555d55;
	position: fixed;
	width:100%;
	left:0px;
	top:0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #AABB77	;
}
	#header_left{width:600px;height:100%; padding:10px 0px 0px 0px;}
	#header_left h1 {cursor:pointer;font-family:Georgia,"Times New Roman","Bitstream Charter",Times,serif;font-size:22px;font-size-adjust:none;font-style:normal;font-variant:normal;font-weight:normal;line-height:normal;color:#BBCCAA;}

#trackRef {
 background-color: #555d55;
 border-style: solid;
 border-width: 2px;
 border-color: #AABB77;
 padding: 10px;
 font-family:Verdana,Arial,sans-serif;
 font-size: 12px;
 font-weight: bold;
 color: #AABB77; 
 cursor:pointer;
 margin-bottom: 20px;
}

#content {
	position:fixed;
	top:100px;
	
}

#contentMapa {
position: absolute;
top: 10px;
left:630px;
background:#555d55; 
color:#fff; 
padding: 5px;
height: 500px; 
width: 600px; 
margin-top: 5px; 
margin-right: auto; 
margin-bottom: 5px; 
margin-left: auto;
border-style: solid;
border-width: 2px;
border-color: #AABB77;
}